<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div>
		<header>
			<div class = "nav">
				<ul>
					<li class = "list">
						<a href="#">
							<span class = "text">Home</span>
						</a>
					</li>
					<li class = "list">
						<a href="#">
							<span class = "text">Mearch</span>
						</a>
					</li>
					<li class = "list">
						<a href="#">
							<span class = "text">Event</span>
						</a>
					</li>
					<li class = "list">
							<a href="#">
							<span class = "text">Content</span>
						</a>
					</li>
					<div class="indicator"></div>
				</ul>
			</div>
		</header>
		<div class="main">
			<div class = "info">
				<p>
				I am Falcam Creator of This Website I Want to Create a Beautifull Website
				</p>
			</div>
			<div>
				<div class="data">
					<input type="text" name="Name">
				</div>
				<div class="button">
					<button>Hello</button>
				</div>
			</div>
		</div>
		<footer>
			<div class = "social">
				<ul>
					<li class = "list">
						<a href="https://www.instagram.com/the21falcam/">
							<span class = "icon">
								<ion-icon name="logo-instagram"></ion-icon></span>
							<span class = "text">Instagram</span>
						</a>
					</li>
					<li class = "list">
						<a href="https://discord.gg/aHyPGRcsh9">
							<span class = "icon">
								<ion-icon name="logo-discord"></ion-icon></span>
							<span class = "text">Discord</span>
						</a>
					</li>
					<li class = "list">
						<a href="https://www.youtube.com/channel/UClRVKlFL1E7I6fqYoP2MjSg">
							<span class = "icon">
								<ion-icon name="logo-youtube"></ion-icon></span>
							<span class = "text">Youtube</span>
						</a>
					</li>
					<li class = "list">
						<a href="https://github.com/THE21Falcam">
							<span class = "icon">
								<ion-icon name="logo-github"></ion-icon></span>
							<span class = "text">Github</span>
						</a>
					</li>
					<div class="indicator"></div>
				</ul>
			</div>
		</footer>
	</div>

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>