@import url('https://fonts.googleapi.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root
{
	--clr: #222327;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--clr);
}
.nav
{
	position: relative;
	width: 900px;
	height: 70px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
	overflow: hidden;
}
.nav ul
{
	display: flex;
	width: 380px;
	height: 20px;
}
.nav ul li
{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
	width: 100px;
	height: 10px;
}
.nav ul li a
{
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 600;
	width: 100px;
	height: 10px;
}
.nav ul li a .text
{
	position: absolute;
	color: var(--clr);
	font-weight: 500;
	font-size: 1em;
	letter-spacing: 0.05em;
	opacity: 1;
	width: 100px;
	height: 10px;
}

.social
{
	position: relative;
	width: 300px;
	height: 70px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
}
.social ul
{
	display: flex;
	width: 270px;
}
.social ul li
{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.social ul li a
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}
.social ul li a .icon
{
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}
.social ul li:hover a .icon
{
	transform: translateY(-35px);
}
.social ul li a .text
{
	position: absolute;
	color: var(--clr);
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}
.social ul li:hover a .text
{
	opacity: 1;
	transform: translateY(10px);
}

.indicator:hover
{
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background: #e1d9d1 ;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
}

.social ul li:nth-child(1):hover ~ .indicator
{
	position: absolute;	
	top: -50%;
	width: 70px;
	height: 70px;
	background: #e1d9d1 ;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
	transform: translatex(calc(70px * 0));
}
.social ul li:nth-child(2):hover ~ .indicator
{
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background: #e1d9d1 ;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
	transform: translatex(calc(65px * 1));
}
.social ul li:nth-child(3):hover ~ .indicator
{
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background: #e1d9d1 ;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
	transform: translatex(calc(67px * 2));
}
.social ul li:nth-child(4):hover ~ .indicator
{
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background: #e1d9d1 ;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
	transform: translatex(calc(67px * 3));
}
.info
{
	position: relative;
	width: 320px;
	height: 330px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
}
.info p
{
	width: 300px;
	height: 70px;
	position: relative;
	color: white;
	font-weight: 900;
	font-size: 1em;
	text-align: center;
}
.data
{
	position: relative;
	width: 100px;
	height: 55px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
}
.data input
{
	width: 300px;
	height: 70px;
	font-weight: 900;
	font-size: 1em;
	text-align: center;
}
.button
{
	position: relative;
	width: 100px;
	height: 90px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: auto;
}
.button button
{
	width: 300px;
	height: 40px;
	font-weight: 900;
	font-size: 1em;
	text-align: center;
}